<div class="buttons">
  <button class="pattern-tree" type="button">Back to Patterns</button>
  <% var learnedText = pattern.learned() ? 'Learned!' : 'Mark as learned' %>
  <button class="switch-learned" type="button"><%= learnedText %></button>
  <% if(!pattern.learned()) { %>
    <% if(pattern.escape('practiced') === 'false') { %>
      <% var enabledClass = 'enabled'; %>
    <% } %>
    <button
      class="log-practice <%= enabledClass %>"
      type="button"
    >Log Practice</button>
  <% } %>
</div>
<div class="title"><%= pattern.escape('title') %></div>
<div class="show-parents">
  <p class="heading">Prerequisites</p>
  <ul class="parents"></ul>
</div>
<div class="show-children">
  <p class="heading">Continuation Patterns</p>
  <ul class="children"></ul>
</div>
<div class="diagram">
  <img src="<%= pattern.escape('diagram_url') %>" alt="" />
</div>
<div class="body"><%= pattern.escape('body') %></div>
<form class="add-comment">
  <textarea class="comment-text" name="comment[body]" rows="1" cols="40" placeholder="Leave a new Comment"></textarea>
  <button class="post-comment" type="button">Post</button>
  <button class="cancel-comment" type="button">Cancel</button>
</form>
<ul class="comments"></ul>
