<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">jugglog</a>
    </div>

    <% if !!current_user %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="patterns active"><a href="#patterns/1">Patterns</a></li>
        <!-- <li class="activity"><a href="#/activity">Activity</a></li> -->
        <li class="friends"><a href="#users">Friends</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="name" href="javascript:void(0)" role="button"><%= current_user.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="<%= '#users/' + current_user.id.to_s %>">Your Profile</a></li>
            <!-- <li class="divider"></li> -->
            <li><%= link_to "Log Out", session_url, method: :delete %></li>
          </ul>
        </li>
        <li><a href="#activity">2 day streak</a></li>
      </ul>
    <% else %>
      <% if request.fullpath == "/session/new" || request.fullpath == "/session" %>
        <ul class="nav navbar-nav navbar-right welcome">
          <li><%= link_to "Sign Up", new_user_url %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right welcome">
          <li><%= link_to "Log In", new_session_url %></li>
        </ul>
      <% end %>
    <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
