<!DOCTYPE html>
<html>
<head>
  <title>Jugglog</title>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- // <script>
//   filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>");
// </script> -->

<%= render 'shared/navbar' %>

<!-- <% flash[:messages].try(:each) do |message| %>
  <%= message %><br>
<% end %>
<% flash[:errors].try(:each) do |error| %>
  <%= error %><br>
<% end %> -->

<script>
  var currentUserId = -1;
</script>
<% if !!current_user %>
  <script>
    { currentUserId = <%= current_user.id %> };
  </script>
<% end %>

<%= yield %>

</body>
</html>
